<app-nav-bar [title]="title"></app-nav-bar>
<ion-content>
  <ion-grid fixed class="ion-no-padding">
    <ion-row>
      <ion-col class="ion-no-padding" size="3">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>Upload files</ion-card-subtitle>
           
          </ion-card-header>
          <ion-card-content>
            <ion-grid>
              <ion-row class="ion-justify-content-center">
                <ion-col size="4" class="ion-justify-self-center">
                  <ion-fab-button>
                    <ion-icon name="add"></ion-icon>
                  </ion-fab-button>
                </ion-col>
              </ion-row>
            </ion-grid>
           
          
          </ion-card-content>
        </ion-card>
        
      </ion-col>
      <ion-col class="ion-no-padding" size="3">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>ID Copy</ion-card-subtitle>
            <ion-card-title>PDF File</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-icon slot="start" name="document-outline"></ion-icon>
          
          </ion-card-content>
        </ion-card>
        
      </ion-col>
      <ion-col class="ion-no-padding" size="3">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>ID Copy</ion-card-subtitle>
            <ion-card-title>PDF File</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-icon slot="start" name="document-outline"></ion-icon>
          
          </ion-card-content>
        </ion-card>
        
      </ion-col>
      <ion-col class="ion-no-padding" size="3">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>ID Copy</ion-card-subtitle>
            <ion-card-title>PDF File</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-icon slot="start" name="document-outline"></ion-icon>
          
          </ion-card-content>
        </ion-card>
        
      </ion-col>
      <ion-col class="ion-no-padding" size="3">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>ID Copy</ion-card-subtitle>
            <ion-card-title>PDF File</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-icon slot="start" name="document-outline"></ion-icon>
          
          </ion-card-content>
        </ion-card>
        
      </ion-col>
      <ion-col class="ion-no-padding" size="3">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>ID Copy</ion-card-subtitle>
            <ion-card-title>PDF File</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-icon slot="start" name="document-outline"></ion-icon>
          
          </ion-card-content>
        </ion-card>
        
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>